html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.div-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  color: aliceblue;
}

#CMS {
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
}

.div-2 {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 14px;
}

.div-2 i,
p {
  margin: 2px
}

.div-3 {
  height: auto;
  width: auto;
  right: 50px;
  margin-top: 1%;
  display: block;
  float: right;
  position: relative;

}

.div-4 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}


table {
  border-collapse: collapse;
  margin-top: 5%;
  margin-right: 5%;
}

th,
td {
  border: 2px solid black;
  padding: 5px;
  text-align: center;
  height: 55px;
}

.indicator {
  height: 20px;
  width: 20px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
}

.indicator:hover {
  background-color: green;
}

.table {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table div {
  width: 100px;
  height: 100px;
}

.pages {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  top: 50px;
  margin: 10px;
}

.option {
  font-size: 24px;
}

.pages input[type="button"] {
  margin: 3px;
}

#plus {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
}

.links {
  height: 50%;
  width: 15%;
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
}

.links a {
  margin: 1px;
  color: grey;
  text-decoration: none;
}

.links p {
  margin-bottom: 5px;
  color: grey;
  text-decoration: none;
}

#Students {
  font-weight: bold;
}

button {
  width: 40px;
  height: 40px;
  margin: 3px;
}

h1 {
  position: relative;
  font-weight: normal;
}

.add {
  margin-right: 20px;
}

.div-5 {
  margin-left: 100px;
}

#myForm {
  width: 500px;
  height: 500px;
  border-radius: 2%;
  border: 2px solid black;
  background-color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.form-1 {
  height: 75px;
  padding-top: -55px;
  border-bottom: 2px solid black;
}

.form-1 #closeForm {
  float: right;
  margin-top: -25px;
  margin-right: 10px;
  height: 30px;
  width: 30px;
}

.form-2 {
  height: 350px;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
}

.form-2 input,
select {
  display: inline-block;
  width: 55%;
  height: 5%;
  position: absolute;
  right: 70px;
  margin-bottom: 15px;
}

.form-2 label {
  position: absolute;
  left: 50px;
  font-size: 18px;
}

.form-3 {
  height: 75px;
}

.form-3 button {
  float: right;
  margin-right: 5%;
  margin-top: 5%;
  height: 25px;
  width: 40px;
}

.form-3 #form-button {
  width: 75px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}


h2 {
  margin: 0;
  padding-top: 5%;
  padding-left: 5%;
}



#deleteForm {
  width: 500px;
  height: 325px;
  border-radius: 2%;
  border: 2px solid black;
  background-color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

#deleteForm .form-2 {
  height: 175px;
  font-weight: bold;
  font-size: 20px;
  justify-content: center;
}




.navbar {

  background-color: gray;
  overflow: hidden;
  width: 100%;
  position: relative;

}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 21px;
  margin-top: 0;
  position: relative;
}

.navbar .onRight {
  float: right;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;
  top: 50px;
  right: 30px;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  min-height: 20px;
  max-width: 450px;
}

.dropdown-content div:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.notificationUser {
  margin-top: 2px;
}

.notificationMessage {
  margin-top: 5px;
}

.header-bg-red {
  background-color: #d56f7a;
}

